<img style="height:20%; width:100%" src="images/GCC-roof.png" alt="A view from the rooftop of the GCC building.">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="/SERPL">SERPL 2020</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/SERPL2019">SERPL 2019 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="code-of-conduct.html">Code of Conduct</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="programme.html">Programme</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="attending.html">Attending</a>
      </li>
    </ul>
  </div>
</nav>
